# Models - TOO LARGE
models/
*.keras
*.h5
*.bin
*.pb
tfjs_model/
frontend/public/models/

# Datasets - TOO LARGE  
week 1/
week 2/
processed/
raw/
*.zip

# Python
__pycache__/
*.pyc
venv/
.ipynb_checkpoints/

# Node
node_modules/
frontend/build/

# Other
.env
.DS_Storenode_modules/ 
models/best_model.keras 
models/disease_detection_model.keras 
models/model.h5 
models/model_for_web.h5 
models/tfjs_model.zip 
frontend/public/tfjs_model/ 
__pycache__/ 
*.pyc 
.env 
.env.local 
